
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: radial-gradient(circle, var(--primary-color-1), var(--secondary-color-2));

    .page-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 170px 0;

        h2{
            line-height: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--third-color-3);
            margin-bottom: 0.5rem;
        }

        h1{
            line-height: 3rem;
            font-size: 3rem;
            font-weight: 600;
            color: #fff;
        }

        p{
            font-size: 1rem;
            color: #e2e8f0;
            margin-top: 8px;
            font-weight: 400;
            max-width: 65%;
            text-align: center;
        }
    }
}